<%- include('./layouts/header.ejs') %>

<section id="shop-banner" class="about-banner">
  <h2>#KnowUs</h2>
  <p>Red Our Information</p>
</section>

<section id="about-head" class="section-p1">
  <img src="/images/img/about/a6.jpg" alt="About us img" />
  <div>
    <h2>Who Are We</h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis
      explicabo cumque repellendus esse corporis minus numquam animi? Excepturi
      nesciunt perferendis numquam? Maxime in dignissimos repellendus totam quos
      sint temporibus molestiae quidem, aliquam blanditiis qui, esse obcaecati
      nisi omnis, minima nostrum magnam accusantium cumque mollitia culpa.
      Similique natus molestiae consectetur maiores.
    </p>

    <abbr>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis
      explicabo cumque repellendus esse corporis minus numquam animi? Excepturi
      nesciunt perferendis numquam? Maxime in dignissimos repellendus totam quos
      sint temporibus molestiae quidem.
    </abbr>
    <br />
    <br />

    <marquee bgcolor="#ccc" width="100%" loop="-1" scrollamount="5">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis
      explicabo cumque repellendus esse corporis minus numquam animi? Excepturi
      nesciunt perferendis numquam? Maxime in dignissimos repellendus totam quos
      sint temporibus molestiae quidem.
    </marquee>
  </div>
</section>

<section id="feature" class="section-p1">
  <div class="fe-box">
    <img src="/images/img/features/f1.png" alt="feature" />
    <h6>Free Shipping</h6>
  </div>
  <div class="fe-box">
    <img src="/images/img/features/f2.png" alt="feature" />
    <h6>Online Order</h6>
  </div>
  <div class="fe-box">
    <img src="/images/img/features/f3.png" alt="feature" />
    <h6>Save Money</h6>
  </div>
  <div class="fe-box">
    <img src="/images/img/features/f4.png" alt="feature" />
    <h6>Promotrions</h6>
  </div>
  <div class="fe-box">
    <img src="/images/img/features/f5.png" alt="feature" />
    <h6>Happy Sell</h6>
  </div>
  <div class="fe-box">
    <img src="/images/img/features/f6.png" alt="feature" />
    <h6>F24/7 Support</h6>
  </div>
</section>
<section id="newsletter" class="section-p1 section-m1">
  <div class="newstext">
    <h4>Sign Up For Newsletters</h4>
    <p>
      Get E-mail updates about our latest shop and <span>special offers</span>
    </p>
  </div>
  <div class="form">
    <input type="text" placeholder="Your email address" />
    <button class="normal">Sign Up</button>
  </div>
</section>

<%- include('./layouts/footer.ejs') %>