<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <main class="form-main">
      <form action="/login" method="post" class="r-form">
        <h1>Login Your Account</h1>
        <input type="text" name="username" placeholder="username" />
        <input type="password" name="password" placeholder="password" />
        <input type="submit" />
        <p>Don't have an account <a href="/">Register</a></p>
      </form>
    </main>
  </body>
</html>
