<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>T Shirt</title>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    />
    <link rel="stylesheet" href="../style.css" />
  </head>

  <body>
    <section id="header">
      <a href=""><img src="../img/logo.png" /></a>
      <div>
        <ul id="navbar">
          <li><a href="../index.html">Home</a></li>
          <li><a href="../shop.html" class="active">Shop</a></li>
          <li><a href="../blog.html">Blog</a></li>
          <li><a href="../about.html">About</a></li>
          <li><a href="../contact.html">Contact</a></li>
          <li>
            <a href="../cart.html" id="lg-bag"
              ><i class="far fa-shopping-bag"></i
            ></a>
          </li>
          <a href="#" id="close"><i class="far fa-times"></i></a>
        </ul>
      </div>
      <div id="hamburger">
        <a href="cart.html"><i class="far fa-shopping-bag"></i></a>
        <i id="bar" class="fas fa-outdent"></i>
      </div>
    </section>

    <section id="pro-details" class="section-p1">
      <div class="single-pro-img">
        <img
          src="../img/products/f1.jpg"
          alt="T-Shirt img"
          width="100%"
          id="mainImg"
        />

        <div class="small-img-group">
          <div class="small-img-col">
            <img
              src="../img/products/f1.jpg"
              alt="T-Shirt img"
              width="100%"
              class="small-img"
            />
          </div>
          <div class="small-img-col">
            <img
              src="../img/products/f2.jpg"
              alt="T-Shirt img"
              width="100%"
              class="small-img"
            />
          </div>
          <div class="small-img-col">
            <img
              src="../img/products/f3.jpg"
              alt="T-Shirt img"
              width="100%"
              class="small-img"
            />
          </div>
          <div class="small-img-col">
            <img
              src="../img/products/f4.jpg"
              alt="T-Shirt img"
              width="100%"
              class="small-img"
            />
          </div>
        </div>
      </div>
      <div class="single-pro-details">
        <h6>Home/T-Shirt</h6>
        <h4>Men's fashio T Shirt</h4>
        <h2>$139</h2>
        <select>
          <option>select Size</option>
          <option>XL</option>
          <option>XXL</option>
          <option>small</option>
          <option>Large</option>
        </select>
        <input type="number" value="1" />
        <button class="normal">Add To Cart</button>
        <h4>product details</h4>
        <span>
          jksbxj soj as js ja; aoi jocj aiocj ocoacj ioasjcjc jc aijcoajcoajco
          ajco jaoicj cij oaicjoajc iajcajca jiajc oaijc ajcoiajc oiajcoia cjj
          cajcioajc oiac joijc oajc;oac a;caoc oaic ioc joii
        </span>
      </div>
    </section>

    <section id="product1" class="section-p1">
      <h2>Featured Products</h2>
      <p>Summer Collection New Morden Design</p>
      <div class="pro-container">
        <div class="pro">
          <img src="../img/products/n1.jpg" alt="Product's Img" />
          <div class="des">
            <span>adidas</span>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
          <img src="../img/products/n2.jpg" alt="Product's Img" />
          <div class="des">
            <span>adidas</span>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
          <img src="../img/products/n3.jpg" alt="Product's Img" />
          <div class="des">
            <span>adidas</span>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>

        <div class="pro">
          <img src="../img/products/n4.jpg" alt="Product's Img" />
          <div class="des">
            <span>adidas</span>
            <h5>Cartoon Astronaut T-Shirts</h5>
            <div class="stars">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <h4>$78</h4>
          </div>
          <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
        </div>
      </div>
    </section>

    <section id="newsletter" class="section-p1 section-m1">
      <div class="newstext">
        <h4>Sign Up For Newsletters</h4>
        <p>
          Get E-mail updates about our latest shop and
          <span>special offers</span>
        </p>
      </div>
      <div class="form">
        <input type="text" placeholder="Your email address" />
        <button class="normal">Sign Up</button>
      </div>
    </section>

    <footer class="section-p1">
      <div class="col">
        <img src="../img/logo.png" alt="Logo" class="logo" />
        <h4>Contact</h4>
        <p><strong>Address:</strong> our address of shop/store</p>
        <p><strong>Phone:</strong> +923XXXXXXXXX</p>
        <p><strong>Hours:</strong> Working Hours</p>
        <div class="follow">
          <h4>Follow Us</h4>
          <div class="icon">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-youtube"></i>
          </div>
        </div>
      </div>
      <div class="col">
        <h4>About</h4>
        <a href="#">About Us</a>
        <a href="#">Delivery Information</a>
        <a href="#">Privacy policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Contact US</a>
      </div>

      <div class="col">
        <h4>My Account</h4>
        <a href="#">Sign In</a>
        <a href="#">View Cart</a>
        <a href="#">My Wishlist</a>
        <a href="#">Track My Order</a>
        <a href="#">Help</a>
      </div>

      <div class="col install">
        <h4>Install App</h4>
        <p>Install from Google Play Or App Store</p>
        <div class="row">
          <img src="../img/pay/play.jpg" alt="Google Play img" />
          <img src="../img/pay/app.jpg" alt="App Store img" />
        </div>
        <p>Secured Payment Gateways</p>
        <img src="../img/pay/pay.png" alt="Payment apps pics" />
      </div>
      <div class="copyright">
        <p>&copy; 2023 Tech2 etc - HTML CSS Ecommerce template</p>
      </div>
    </footer>

    <script src="../script.js"></script>
  </body>
</html>
